body{
	margin: 0px;
	padding: 0px;
	background: #F3F5FC;
}
.container{
	margin: auto;
	width: 960px;
	height: 650px;
	padding: 5px;
	
}
.logo{
	width: 100%;
	float: left;
	
}




.left{
	float: left;
	width:70%;
	height: 70%;
	border-radius: 24px;
	background: #F3F5FC;
}
.right{
	float:right;
	width: 30%;
	height: auto;
	border-radius: 24px;
	background: white;
}


.left-button{
	float: left;
	width: 70%;
	height: auto;
	border-radius: 24px;
	font-weight: bold;
	

}
.logoImg{
	margin-top: 1%;
	margin-left: 5%;
	float: left;
}

.tittle {
	float: inherit;
	margin-left: 20%;
}
.text-input{
	float: left;
	margin-left: 0;
	margin-top:auto;
	width: 80%;
	height: 60%;
	color: #0A3871;
	font-size: 24px;
	border: none;
	outline: none;
	background: #F3F5FC;
}
#imgDer{
	margin-top: 20%;
	margin-left: 6%;
	width: 90%;
	height: auto;
}
#texto{
	margin-left: 9%;
	margin-right: 7%;
}
#texto2{
	float: left;
	margin-left: 7%;
	color: #0A3871;
	width: 84%;
	height: 60%;
	border: none;
	outline: none;
	font-size: 18px;
}

.btn-encriptar{
	font-weight: bold;
	padding: 24px;
	width: 30%;
	height: 60%;
	border-radius: 24px;
	margin-left: 15%;
	background: #0A3871; 
}

.btn-encriptar:hover{
	
	border-radius: 30px;	
}

.btn-desencriptar{
	font-weight: bold;
	padding: 24px;
	width: 30%;
	height: 60%;
	border-radius: 24px;
	margin-left: 15%;
	background: #D8DFE8; 
} 

.btn-desencriptar:hover{
	border-radius: 30px;
}

#copiar{
	margin-left: 30%;
	margin-top: 10%;
	padding: 24px;
	width: 40%;
	height: 10%;
	background: #D8DFE8;
	border-radius: 24px;
	display: none;
}

@media screen and (max-width:480px){
   
    .container{
		width: auto;
		height: 300px;
    }

	.tittle {
		text-align: center;
	    font-size: 28px;
	    margin-left: 20px;
	}

	.right{
		width: auto;
		margin-bottom: 50px;	
	}

	.text-input{
		height: 50%;
		width: 140%;
		font-size: 28px;
		text-align: center;
	}
	.left-button{
		width: 100%;
	}

	.btn-encriptar {
		display:inline-block;
		margin-left: 40px;		
	}

	.btn-desencriptar{
		width: auto;
	}
 }